<div class="container">
  <div class="row my-3 ml-5">
    <div class="col-md- ml-5">
       <h3 style="background:#EEEEEE">商品新規登録</h3>   
    </div>
  </div>
  <div class="row mt-3">
     <div class="col-md-6 mx-auto">
        <%= render "layouts/item_form", item:@item %> 
     </div>
  </div>

  

</div>
