<h3>会員一覧</h3>
<table class="table">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <% @customers.each do |customer| %>
    <tbody>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.first_name %><% customer.last_name %></td>
      <td><%= customer.email %></td>
      <% if customer.is_valid == true %>
        <td><span class="text-success">販売中</span></td>
      <% else %>
        <td><span class="text-muted">退会</span></td>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table>