<h3>ジャンル編集</h3>
<table>
  <%= form_with model:@genre, local:true do |f| %>
  <tb>
    <td>ジャンル名</td>
    <td>
      <%= f.text_field :name, class: "form-control name" %>
    </td>
    <td><%= f.submit class: "btn btn-sm btn-success"　%></td>
  </tb>
  <% end %>
</table>