<div class="container">
  <div class="row">
   <div class="clo-xs-10 col-xs-offset-1">
  <div class="text-center">
<table class="table">
<tr>
  <th>商品一覧
   <span>
    <%= @items.count %>件
   </span>
  </th>
</tr>

<% @items.each do |item| %>

<tr>
  <th><%= attachment_image_tag(@item, :image, size: "340x220", fallback: "no_image.jpg" ) %></th>
</tr>

<tr>
  <th><%= item.name %></th>
</tr>

<tr>
  <th>¥<%= item.price %></th>
</tr>
</table>
<% end %>
  </div>
   </div>
  </div>
</div>